.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    max-width: 1440px;
    width: 100%;
    background: #56ccf2;
    background: -webkit-linear-gradient(
      to right,
      #2f80ed,
      #56ccf2
    );
    background: linear-gradient(
      to right,
      #2f80ed,
      #56ccf2
    );
    margin: 0 auto;
  }
  .waterCardWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  